<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>SB Admin 2 - Bootstrap Admin Theme</title>

<!-- Bootstrap Core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="/vendor/morrisjs/morris.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<div id="wrapper">
		<th:block th:include="admin/_menuadmin"></th:block>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h5>ADDRESS</h5>
					<br />
					<div class="container" id="divContainer">
						<button class="btn btn-success nBtn">New Addrress</button>
						<div class="card">
							<div class="card-block">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Street</th>
											<th>Number</th>
											<th>Zip code</th>
											<th>Province</th>
											<th>Region</th>
											
											<th>Edit</th>
											<th>Delete</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="address :${addressAdmin}">
											<td th:text=${address.street}></td>
											<td th:text=${address.number}></td>
											<td th:text=${address.zipcode}></td>
											<td th:text=${address.province}></td>
		
											<td><a th:href="@{findOne/(id=${address.addressid})}"
												class="btn btn-primary eBtn">Edit</a></td>
											<td><a
												th:href="@{deleteAddress/(id=${address.addressid})}"
												class="btn btn-danger delBtn">Delete</a></td>
										</tr>
									</tbody>
								</table>
								<ul class="nav nav-pills">
									<li class="nav-item"
										th:each="i: ${#numbers.sequence(0, addressAdmin.totalPages-1)}">
										<a th:href="@{/admin/secure/address(page=${i})}"
										th:text="${i}" class="nav-link"
										th:classappend="${currentPage}==${i}?'active':''"></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- end card -->

						<div class="myForm">

							<form th:action="@{/admin/secure/addressNewUpdate}" method="POST"
								id="addressForm" th:object="${AddressForm}">

								<div class="modal fade" id="exampleModal" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalLabel"
									aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Update
													or Create</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">

												<div class="form-group">
													<input type="hidden" class="form-control" id="id" name="id"
														value="" />
												</div>

												<div class="form-group">
													<label for="street" class="col-form-label">Street:</label>
													<input type="text" class="form-control" id="street"
														name="street" value="" />
												</div>

												<div class="form-group">
													<label for="number" class="col-form-label">Number:</label>
													<input type="text" class="form-control" id="number"
														name="number" value="" />
												</div>

												<div class="form-group">
													<label for="zipcode" class="col-form-label">Zip
														code:</label> <input type="text" class="form-control" id="zipcode"
														name="zipcode" value="" />
												</div>

												<div class="form-group">
													<label for="privince" class="col-form-label">Province:</label>
													<input type="text" class="form-control" id="province"
														name="province" value="" />
												</div>

											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-primary">Save</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- end div myForm -->

						<!--  Modal  -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Modal
											title</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p class="alert alert-danger">Czy chcesz usunąć obiekt?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<button class="btn btn-danger" aria-hidden="true" id="delRef">Delete</button>
									</div>
								</div>
							</div>
						</div>
						<!--  Modal  -->
					</div>
				</div>
			</div>
		</div>
		<!-- /#wrapper -->

		<!-- jQuery -->
		<script src="/vendor/jquery/jquery.min.js"></script>

		<script>
			$(document).ready(
					function() {
						$('.nBtn, .table .delBtn').on('click',
								function(event) {
									event.preventDefault();
									var href = $(this).attr('href');
									var text = $(this).text();
									
									if (text == 'Edit') {
										$.get(href, function(address, status) {
											$('.myForm #id').val(address.addressid);
											$('.myForm #street').val(address.street);
											$('.myForm #nubmer').val(address.number);
											$('.myForm #zipcode').val(address.zipcode);
											$('.myForm #province').val(address.province);
											$('.myForm #destination').val(address.destination);
										});

										$('.myForm #exampleModal').modal();

									} else {
										$('.myForm #id').val('');
										$('.myForm #street').val('');
										$('.myForm #nubmer').val('');
										$('.myForm #zipcode').val('');
										$('.myForm #province').val('');
										$('.myForm #destination').val('');
									

										$('#myModal #delRef').attr('href', herf);
										$('.myForm #exampleModal').modal();
									}
								});

						$('.table .delBtn').on('click', function(event) {
							event.preventDefault();

							var href = $(this).attr('href');
							$('#myModal').modal();
							$("#delRef").on('click', function(event) {
								$.ajax({
									type : "GET",
									url : href,
									success : function(result) {
										alert(result);
										$("#divContainer").html(result);
										$(".modal-backdrop").remove();
									},
									error : function(e) {
										alert("blad" + e);
									}
								});
							});

						});

					});
		</script>

		<!-- Bootstrap Core JavaScript -->
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

		<!-- Metis Menu Plugin JavaScript -->
		<script src="/vendor/metisMenu/metisMenu.min.js"></script>

		<!-- Morris Charts JavaScript -->
		<script src="/vendor/raphael/raphael.min.js"></script>
		<script src="/vendor/morrisjs/morris.min.js"></script>
		<script src="/data/morris-data.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="/dist/js/sb-admin-2.js"></script>
</body>

</html>